---
# cluster level vars:
CLUSTER_NAME={{CLUSTER_NAME}}
CLUSTER_CIDR={{CLUSTER_CIDR}}
CLUSTER_DATA_PATH={{CLUSTER_DATA_PATH}}
CLUSTER_API_HOSTNAME={{CLUSTER_API_HOSTNAME}}
# kubelet config vars:
KUBELET_POD_MANIFEST_PATH={{KUBELET_POD_MANIFEST_PATH}}
KUBELET_KUBECONFIG_PATH={{KUBELET_KUBECONFIG_PATH}}
# kube-proxy config vars
KUBEPROXY_KUBECONFIG_PATH={{KUBEPROXY_KUBECONFIG_PATH}}